/** Media Queries **/
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  height: 100%;
}

img {
  max-width: 100%;
}

.centrado {
  text-align: center;
}

.oculto {
  display: none;
}

.pagina {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.contenedor-principal {
  flex: 1;
}
