/** Media Queries **/
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  height: 100%;
}

img {
  max-width: 100%;
}

.centrado {
  text-align: center;
}

.oculto {
  display: none;
}

/** Contenido **/
.pagina {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  display: flex;
}

.header .nombre-sitio {
  flex: 0 0 5rem;
  background-color: #003f8c;
  padding-left: 1rem;
}

@media only screen and (min-width: 1024px) {
  .header .nombre-sitio {
    flex: 0 0 20rem;
  }
}

.header .nombre-sitio h1 {
  color: #FFFFFF;
}

.header .nombre-sitio .escritorio {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .header .nombre-sitio .escritorio {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .header .nombre-sitio .movil {
    display: none;
  }
}

.header .barra {
  display: flex;
  flex: 1;
  background-color: #005b9f;
  justify-content: space-between;
}

.menu-izquierdo {
  display: flex;
  align-items: center;
}

.menu-izquierdo .fa-arrow-right {
  display: none;
}

.menu-derecho {
  display: flex;
}

.menu-derecho .caja {
  padding: 0 1rem;
  display: flex;
}

.menu-derecho .caja:hover {
  background-color: #004c86;
}

.menu-derecho a {
  display: flex;
  color: #FFFFFF;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menu-derecho a span {
  background-color: green;
  border-radius: 50%;
  padding: 0.5rem;
  margin-left: 0.5rem;
}

.contenedor-principal {
  display: flex;
  align-items: stretch;
  flex: 1;
}
