html {
    @include box-sizing(border-box);
    height: 100%;
}

*,
*:after,
*:before {
    @include box-sizing(inherit);
}

body {
    font-family: $fuente_principal;
    height: 100%;
}

img {
    max-width: 100%;
}

.centrado {
    text-align: center;
}

.oculto {
    display: none;
}


/** Contenido **/

.pagina {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    display: flex;
    .nombre-sitio {
        flex: 0 0 5rem;
        @include desktop {
            flex: 0 0 20rem;
        }
        background-color: $secundario;
        padding-left: 1rem;
        h1 {
            color: $blanco;
        }
        .escritorio {
            display: none;
            @include desktop {
                display: block;
            }
        }
        .movil {
            @include desktop {
                display: none;
            }
        }
    }
    .barra {
        display: flex;
        flex: 1;
        background-color: $primario;
        justify-content: space-between;
    }
}

.menu-izquierdo {
    display: flex;
    align-items: center;
    .fa-arrow-right {
        display: none;
    }
}

.menu-derecho {
    display: flex;
    .caja {
        padding: 0 1rem;
        display: flex;
        &:hover {
            background-color: darken($primario, 5);
        }
    }
    a {
        display: flex;
        color: $blanco;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        position: relative;
        span {
            background-color: green;
            border-radius: 50%;
            padding: 0.5rem;
            margin-left: 0.5rem;
        }
    }
}

.contenedor-principal {
    display: flex;
    align-items: stretch;
    flex: 1;
}